.alert-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 9998;
  }
  
  .alert-dialog-content {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 9999;
  }
  
  .alert-dialog-title {
    margin: 0;
    color: #40A067;
    font-size: 17px;
    font-weight: 500;
  }
  
  .alert-dialog-description {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #40A067;
    font-size: 15px;
    line-height: 1.5;
  }
  
  .alert-dialog-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    background-color: #1E5434;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .alert-dialog-button:hover {
    background-color: #163c26;
  }
  
  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }