# Ignore node_modules directory
node_modules/

# Ignore IDE or editor-specific files
.idea/
.vscode/

# Ignore compiled files
*.class
*.jar
*.war

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/

# Ignore dependency lock files
yarn.lock
package-lock.json
